@font-face {
	font-family: playlist;
	src: url(../public/FontsFree-Net-PlaylistScript.ttf);
}
@font-face {
	font-family: glacial indifference;
	src: url(../public/GlacialIndifference-Regular.otf);
}

@media screen and (min-width: 500px) {
	div.centerContentContainer {
		position: absolute;
		top: 50vh;
		z-index: 2;
		display: flex;
		align-items: center;
		flex-direction: column;
		align-content: stretch;
		flex-wrap: nowrap;
		justify-content: space-between;
		width: 60%;
		height: 40%;
	}
	.image {
		position: absolute;
		z-index: 1;
		width: 100vw !important;
	}
}

.baseContainer {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.image {
	position: absolute;
	z-index: 1;
}

.contentHolder {
	height: min-content;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: "playlist";

	opacity: 90%;
	z-index: 10;
	box-shadow: 0px 0.02px 20px 9px #03000054;
	border: solid 10px rgb(194 191 187);
}

.centerContentContainer {
	position: absolute;
	top: 50vw;
	z-index: 2;
	display: flex;
	align-items: center;
	flex-direction: column;
	align-content: stretch;
	flex-wrap: nowrap;
	justify-content: space-between;
	width: 90vw;
	height: calc(100vw * 0.75);
}

.option {
	display: flex;
	width: -webkit-fill-available;
	height: -webkit-fill-available;
	align-items: center;
	justify-content: center;
	align-content: stretch;
	flex-direction: column;
	background-color: rgb(253 251 229 / 61%);
}
/*
.imageHolder {
    position: relative;
	margin: auto;
    width: 80vw;
    height: 80vh;
}

.imageHolder span {
    position: relative;
}
.image {
   
	z-index: 0;
	width: 100% !important;
	height: 100% !important;
} */
