.main {
	min-height: 100vh;
	padding-top: 0;
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	transition: ease-in-out 1s;
}

.mainOnInit {
	min-height: 10vh;
	transition: ease-in-out 1s;
}

.footer {
	background-color: black;
	height: 10rem;
	display: flex;
	flex: 1;
	justify-content: center;
	align-content: center;
	align-items: center;
}

.footer p {
	color: rgb(194, 191, 187);
}

.footer a {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
}
